services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ecotrack
      POSTGRES_USER: ecouser
      POSTGRES_PASSWORD: ecopass
    ports:
      - '5432:5432'
    volumes:
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata:

